body{
    background-color: #1C1C1C;
    background-image: url('./assets/body-bg.png');
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
}
.container{
    display: inline;
}
.menu-container{
    position: relative;
    display: flex;
    color: white;
    grid-template-columns: 50px 50px 50px 50px 50px;
    gap: 50px;
    padding: 20px 50px;
    justify-content: flex-end;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    align-items: center;
/*     border: 0px;
    border-bottom: 2px solid #F45FC1; */
}

.menu{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}
.logo{
    margin-right: auto;
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #F45FC1
}
.body-container{
    display: grid;
    grid-template-columns: repeat(8, 12.5vw);
    grid-template-rows: 22vh 22vh 22vh 25vh;
    height: 88vh;
}
.img-container{
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start:1;
    grid-row-end: 5;
    align-content: center;
    text-align: left;
    height: 88vh;
}
img{
    height: 60vh;
}
.intro-container{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start:2;
    grid-row-end: 4;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: white;
    text-align: left;
    align-content: center;
}
h1{
    margin-top: 0;
    margin-bottom: 0;
    color: #F45FC1;
}
h2{
    margin-top: 0;
    margin-bottom: 0;
}
.aim{
    margin-top: 0;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    text-align: left;
}
.download-container{
    background-color: #F45FC1;
    height: 50px;
    width: 150px;
    text-align: center;
    align-content: center;
    border-radius: 10px;
}
.download{
    text-decoration: none;
    color: white;
}
.footer-container{
    height: 25vh;
    color: #F45FC1;
    margin: 0;
    padding: 0;
    grid-area: 4/7/5/9;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-align: right;
    align-content: end;
}
.footer-container p{
 margin: 0;
 margin-right: 20px;
}

/* .circle-1{
    height: 22vh;
    width: 12vw;
    background-color: #F45FC1;
    border-radius: 50%;
    grid-area: 2/7;
}
.circle-2{
    height: 22vh;
    width: 12.5vw;
    background-color: #000000;
    border-radius: 50%;
    grid-area: 4/5;
}  */

/* @media (max-width: 767px){
    body{
        background-color: #1C1C1C;
        background-image: url('./assets/body-bg.png');
        background-size: cover;
        background-repeat: repeat;
        background-position: center;
        height: 100vh;
        margin: 0;
    }
    .container{
        display: grid; 
    }
    .menu-container{
        display: grid;
        color: white;
        grid-template-columns: repeat(5, 20vw);
        grid-template-rows: 50px 50px;
        gap: 10px;
        padding: 20px;
        justify-content: flex-end;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        align-items: center;
    }
    .logo{
        grid-area: 1/1/2/-1;
        width: 100vw;
        align-content: center;
        text-align: center;
    }
    .menu{
        text-align: center;
    }
} */